{% extends 'base.html' %}

{% block contenido %}
    {% if pregunta is None %}
        <div class="container">
            <div class="jumbotron my-4">
                <h1>You have answered all our questions. Check the leaderboard</h1>
                <a href="{% url 'tablero' %}">View Leaderboard</a>
            </div>
        </div>
    {% else %}
        <div class="container">
            <div class="jumbotron my-4">
                <h3>{{ pregunta.texto }}</h3>
                <form method="POST" class="form">
                    {% csrf_token %}
                    <input type="hidden" name="pregunta_pk" value="{{ pregunta.pk }}">
                    {% for opciones in pregunta.opciones.all %}
                        <div class="form-check mx-4">
                            <input class="form-check-input" type="radio" name="respuesta_pk" value="{{ opciones.pk }}" id="choice-{{ forloop.counter }}">
                            <label class="form-check-label" for="choice-{{ forloop.counter }}">
                                {{ opciones.texto }}
                            </label>
                        </div>
                    {% endfor %}
                    {% if cantidad_preguntas > 0 %}
                        <button type="submit" class="btn btn-success">Next</button>
                    {% else %}
                        <a href="{% url 'tablero' %}" class="btn btn-success">Finish</a>
                    {% endif %}
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}
