{% extends 'base.html' %}

{% block contenido %}

<div class="container">
    <div class="jumbotron my-4">
        <h3 class="text-info">{{respondida.pregunta.texto|safe}}</h3>
        <p>
            <strong>Your answer:</strong>
            {{respondida.respuesta.texto|safe}}
        </p>

        {% if respondida.respuesta.correcta %}
            <h4 class="text-success">Yeah! This is the correct answer</h4>
        {% else %}
            <h4 class="text-danger">Sorry! The answer is wrong</h4>
            <p>
                <strong>The correct answer is:</strong>
                {% for opcion in respondida.pregunta.opciones.all %}
                    {% if opcion.correcta %}
                        {{ opcion.texto }}
                    {% endif %}
                {% endfor %}                                                                                             
            </p>
        {% endif %}

        <hr class="my-4">
        {% if not es_ultima_pregunta %}
            <a class="btn btn-info btn-lg" href="{% url 'jugar' %}?cantidad_preguntas={{cantidad_preguntas}}">Next Question</a>
        {% else %}
            <a class="btn btn-success btn-lg" href="{% url 'tablero' %}">View Resukts</a>
        {% endif %}
    </div>
</div>

{% endblock %}
