{% extends 'base.html' %}

{% block contenido %}

<div class="container">
	
	<h1 class="text-center my-4"> 
		<span class="badge badge-info">

			The {{contar_user}} best players of Kuizu!
			
		</span>
	</h1>


	<table class="table table-striped table-bodered">
		<thead>
			<tr>
				<th>Position</th>
				<th>User</th>
				<th>Score</th>
			</tr>
		</thead>
		<tbody>
			{% for user_quiz in usuario_quiz %}
				<tr>
					<th>{{forloop.counter}}</th>
					<th>{{user_quiz.usuario.username}}</th>
					<th>{{user_quiz.puntaje_total}}</th>
				</tr>
			{% endfor %}
		</tbody>
	</table>

</div>

{% endblock %}