@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body{
    font-family: 'Righteous';
    font-size: 20px;
    overflow-x: hidden;

}

.carousel-inner{
    max-height: 39rem;
}

@media (max-width:768px){
    #intro{
        width: 90% !important;
    }
    .servicio-fila{
        width:100% !important;
        text-align: center;
    }

}

footer{
    background-color: #36088F;
    min-height: 70px;
}

footer p{
    color: white;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}